<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header id="Header">
        <nav class="main-navigation">
            <div class="container clearfix">
                <div class="site-logo-wrap">
                    <a class="logo" href="/">Dashboard</a>
                </div>
                <a href="javascript:void(0)" class="menu-trigger hidden-lg-up"><span>&nbsp;</span></a>
                <div class="main-menu hidden-md-down">
                    <ul class="menu-list">
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#HeroBanner">Home</a></li>
                        <li><a class="nav-link" href="javascript:void(0)" data-target="#About">About</a></li>
                        <li><a class="nav-link" href="/login" data-target="#ContactUs">Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-menu hidden-lg-up">
                <ul class="mobile-menu-list">
                    <li><a class="nav-link" href="javascript:void(0)" data-target="#HeroBanner">Home</a></li>
                    <li><a class="nav-link" href="javascript:void(0)" data-target="#About">About</a></li>
                    <li><a class="nav-link" href="/login" data-target="#ContactUs">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>